/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Lora&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Lora', serif;
}
h1, h2, h3 {
    font-family: 'Cinzel', serif;
}